<html>
    <head>
        <title>parametres</title>
    </head>
    <body>
        <p>
            annee : {{ annee }}<br />
            fichier : {{ fichier }}.{{ extension }}<br />
            <a href="{{ url }}">lien</a><br />
            <a href="{{ url2 }}">lien 2</a><br />
            <a href="{{ path('oc_fin_p2_ch1_view', { 'id' : 8 }) }}">lien direct dans template</a><br />
            <a href="{{ url('oc_fin_p2_ch1_test') }}">lien template 2</a>
        </p>
    </body>
</html>