{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}reservation en cours{% endblock %}

{% block body %}

<div class="well">
    {{ form_start(form) }}

    {% if ancienVisiteur %}
        <p>Voulez vous reserver pour les personnes suivantes ? (basé sur vos précédentes réservations)</p>
        <div class="encadre" id="divAnciennesPersonnes">
            {% for personne in personnesLieesAuMail %}
                <div id="divPersonne{{ loop.index }}">
                    <input type="hidden" id="idPersonne{{ loop.index }}" name="idPersonne{{ loop.index }}" value="{{ personne.id }}" />
                    <p>
                        Prénom : {{ personne.prenom }}<br />
                        Nom : {{ personne.nom }}<br />
                        Pays : {{ personne.pays }}<br />
                        Date de naissance : {{ personne.getDateNaissanceString() }}<br />
                        Réduction : {% if personne.reduction %}Oui{% else %}Non{% endif %}<br />
                        {# <input type="button" onclick="supprimerPersonne({{ loop.index }})" value="Supprimer" /> #}
                    </p>
                </div>
            {% endfor %}
        </div>
        <p>Souhaitez vous réserver pour d'autres personnes ? (dans le cas contraire, cliquez sur "supprimer")</p>
    {% else %}
        <p>Donnez vous s'il vous plait les informations suivantes pour chacun des visiteurs attendus :</p>
    {% endif %}

    <!-- infos visiteurs -->
    <div class="encadre billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e('html_attr') }}">
    </div>

    {{ form_widget(form) }}
    
    {{ form_end(form) }}
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    function ajoutBilletForm($collectionHolder, $nouveauBilletBouton)
    {
        var prototype = $collectionHolder.data('prototype');
        var index = $collectionHolder.data('index');
        var nouveauFormulaire = prototype;
        nouveauFormulaire = nouveauFormulaire.replace(/__name__/g, index);
        $collectionHolder.data('index', index + 1);
        var $nouveauFormulaireDiv = $('<div></div>').append(nouveauFormulaire);
        $nouveauBilletBouton.before($nouveauFormulaireDiv);
    }

    var $collectionHolder = $('div.billets');
    var $nouveauBilletBouton = $('<p><button type="button" class="boutonAjoutBillet">ajouter une personne</button></p>');
    $collectionHolder.append($nouveauBilletBouton);
    ajoutBilletForm($collectionHolder, $nouveauBilletBouton);
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    $nouveauBilletBouton.on('click', function(e){
        ajoutBilletForm($collectionHolder, $nouveauBilletBouton);
    });
</script>

{% endblock %}