<!DOCTYPE html>
<html>
    <head>
        <title>musée du louvre - site de réservation</title>
    </head>
    <body>
        <form method="post" action="traitement" id="formulaire">
            {% if ancienVisiteur is defined %} <!-- gros bug, je comprend pas pourquoi existe pas si = false, devrait pouvoir supprimer "is defined" sans bug -->
                <p>Voulez vous reserver pour les personnes suivantes ? (basé sur vos précédentes réservations)</p>
                {% for personne in personnesLieesAuMail %}
                    <div id="divPersonne{{ loop.index }}">
                        <input type="hidden" id="idPersonne{{ loop.index }}" name="idPersonne{{ loop.index }}" value="{{ personne.id }}" />
                        <p>
                            Prénom : {{ personne.prenom }}<br />
                            Nom : {{ personne.nom }}<br />
                            Pays : {{ personne.pays }}<br />
                            Date de naissance : {{ personne.getDateNaissanceString() }}<br />
                            Réduction : {% if personne.reduction %}Oui{% else %}Non{% endif %}<br />
                            <input type="button" onclick="supprimerPersonne({{ loop.index }})" value="Supprimer" />
                        </p>
                    </div>
                {% endfor %}
                <p>Souhaitez vous réserver pour d'autres personnes ?</p>
            {% else %}
                <p>Donnez vous s'il vous plait les informations suivantes pour chacun des visiteurs attendus :</p>
            {% endif %}
            <!-- infos visiteurs -->
            <p id="pPersonne1">
                <label for="prenom1">Prénom : </label>
                    <input id="prenom1" type="text" name="prenom1" /><br />
                <label for="nom1">Nom : </label>
                    <input id="nom1" type="text" name="nom1" /><br />
                <label for="pays1">Pays : </label>
                    <input id="pays1" type="text" name="pays1" /><br /> <!-- modifier en mettant liste de tous les pays ? -->
                <label for="dateNaissance1">Date de naissance : </label>
                    <input id="dateNaissance1" type="text" name="dateNaissance1" /> Format : jj/mm/aaaa. Exemple : écrivez 01/12/1980 pour le premier décembre 1980.<br />
                <input type="checkbox" name="reduction1" id="reduction1" value="reduction1" />
                    <label for="reduction1"> je possède une réduction</label> (à cocher si vous êtes étudiant, employé du musée, d'un service du ministère de la culture, ou si vous êtes militaire. Attention : un justificatif vous sera demandé)<br />
                <input type="button" onclick="supprimerPersonneNouvelle(1)" value="Supprimer" />
            </p>
            <p id="pAjouterPersonne">
                <input type="button" onclick="ajouterPersonne()" value="Ajouter une personne" />
            </p>
            
            <!-- date reservation + journée entière ? -->
            
            <p>
                Veuillez indiquer les informations générales relatives a la réservation :
            </p>
            <p>
                <label for="dateVisite">
                    Date de visite du musée : 
                </label>
                <input type="text" name="dateVisite" id="dateVisite" /> Format : jj/mm/aaaa. Exemple : écrivez 10/06/2019 pour le dix juin 2019.<br />
                Souhaitez vous arriver avant ou après 14h ? Après 14h, le tarif demi-journée s'applique, induisant une division par deux des prix de billets.<br />
                <input type="radio" name="demiJournee" value="oui" id="oui" />
                    <label for="oui"> Nous arriverons après 14h</label><br />
                <input type="radio" name="demiJournee" value="non" />
                    <label for="non"> Nous arriverons avant 14h</label>
                <input type="hidden" name="indexDernierePersonne" value="1" id="indexDernierePersonne" />
            </p>


            <input type="submit" value="Soumettre le formulaire" />

        </form>





        <script type="text/javascript">
            var indexDernierePersonne = 1;
            var indexDernierePersonneElt = document.getElementById("indexDernierePersonne");
            function supprimerPersonne(indexPersonne)
            {
                var formulaire = document.getElementById("formulaire");
                var divPersonneElt = document.getElementById("divPersonne" + indexPersonne);
                formulaire.removeChild(divPersonneElt);
            }
            function supprimerPersonneNouvelle(indexPersonne)
            {
                var formulaire = document.getElementById("formulaire");
                var pPersonneElt = document.getElementById("pPersonne" + indexPersonne);
                formulaire.removeChild(pPersonneElt);
            }
            function ajouterPersonne()
            {
                // incrémentation de l'index de dernière personne
                ++indexDernierePersonne;
                indexDernierePersonneElt.setAttribute("value", indexDernierePersonne);

                // variables utiles pour la suite
                var formulaire = document.getElementById("formulaire");
                var pAjouterPersonne = document.getElementById("pAjouterPersonne");

                // création du nouveau paragraphe qui contiendra les champs
                var pNouvellePersonne = document.createElement("p");
                pNouvellePersonne.setAttribute("id", "pPersonne" + indexDernierePersonne);

                // création du champs de prénom
                var nouveauLabelPrenom = document.createElement("LABEL");
                nouveauLabelPrenom.setAttribute("for", "prenom" + indexDernierePersonne);
                nouveauLabelPrenom.textContent = "Prénom : ";

                var nouveauChampsPrenom = document.createElement("INPUT");
                nouveauChampsPrenom.setAttribute("type", "text");
                nouveauChampsPrenom.setAttribute("id", "prenom" + indexDernierePersonne);
                nouveauChampsPrenom.setAttribute("name", "prenom" + indexDernierePersonne);
                var nouveauBrPrenom = document.createElement("br");

                // création du champs de nom
                var nouveauLabelNom = document.createElement("LABEL");
                nouveauLabelNom.setAttribute("for", "nom" + indexDernierePersonne);
                nouveauLabelNom.textContent = "Nom : ";

                var nouveauChampsNom = document.createElement("INPUT");
                nouveauChampsNom.setAttribute("type", "text");
                nouveauChampsNom.setAttribute("id", "nom" + indexDernierePersonne);
                nouveauChampsNom.setAttribute("name", "nom" + indexDernierePersonne);
                var nouveauBrNom = document.createElement("br");

                // création du champs de pays
                var nouveauLabelPays = document.createElement("LABEL");
                nouveauLabelPays.setAttribute("for", "pays" + indexDernierePersonne);
                nouveauLabelPays.textContent = "Pays : ";

                var nouveauChampsPays = document.createElement("INPUT");
                nouveauChampsPays.setAttribute("type", "text");
                nouveauChampsPays.setAttribute("id", "pays" + indexDernierePersonne);
                nouveauChampsPays.setAttribute("name", "pays" + indexDernierePersonne);
                var nouveauBrPays = document.createElement("br");

                // création du champs de date de naissance
                var nouveauLabelDate = document.createElement("LABEL");
                nouveauLabelDate.setAttribute("for", "dateNaissance" + indexDernierePersonne);
                nouveauLabelDate.textContent = "Date de naissance : ";

                var nouveauChampsDate = document.createElement("INPUT");
                nouveauChampsDate.setAttribute("type", "text");
                nouveauChampsDate.setAttribute("id", "dateNaissance" + indexDernierePersonne);
                nouveauChampsDate.setAttribute("name", "dateNaissance" + indexDernierePersonne);
                var nouveauBrDate = document.createElement("br");

                // création du champs de reduction
                var nouveauLabelReduction = document.createElement("LABEL");
                nouveauLabelReduction.setAttribute("for", "reduction" + indexDernierePersonne);
                nouveauLabelReduction.textContent = " je possède une réduction ";

                var nouveauChampsReduction = document.createElement("INPUT");
                nouveauChampsReduction.setAttribute("type", "checkbox");
                nouveauChampsReduction.setAttribute("id", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("name", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("value", "reduction");
                var nouveauBrReduction = document.createElement("br");

                // création du bouton supprimer
                var nouveauBoutonSupprimer = document.createElement("input");
                nouveauBoutonSupprimer.setAttribute("type", "button");
                nouveauBoutonSupprimer.setAttribute("value", "Supprimer");
                nouveauBoutonSupprimer.setAttribute("onclick", "supprimerPersonneNouvelle(" + indexDernierePersonne + ")");

                // insertion des éléments dans la page
                formulaire.insertBefore(pNouvellePersonne, pAjouterPersonne);
                pNouvellePersonne.appendChild(nouveauLabelPrenom);
                pNouvellePersonne.appendChild(nouveauChampsPrenom);
                pNouvellePersonne.appendChild(nouveauBrPrenom);
                pNouvellePersonne.appendChild(nouveauLabelNom);
                pNouvellePersonne.appendChild(nouveauChampsNom);
                pNouvellePersonne.appendChild(nouveauBrNom);
                pNouvellePersonne.appendChild(nouveauLabelPays);
                pNouvellePersonne.appendChild(nouveauChampsPays);
                pNouvellePersonne.appendChild(nouveauBrPays);
                pNouvellePersonne.appendChild(nouveauLabelDate);
                pNouvellePersonne.appendChild(nouveauChampsDate);
                pNouvellePersonne.appendChild(nouveauBrDate);
                pNouvellePersonne.appendChild(nouveauChampsReduction);
                pNouvellePersonne.appendChild(nouveauLabelReduction);
                pNouvellePersonne.appendChild(nouveauBrReduction);
                pNouvellePersonne.appendChild(nouveauBoutonSupprimer);
            }
        </script>
    </body>
</html>