<!DOCTYPE html>
<html>
    <head>
        <title>musée du louvre - site de réservation</title>
    </head>
    <body>
        <form method="post" action="traitement" id="formulaire">
            {% if ancienVisiteur %}
                <p>Voulez vous reserver pour les personnes suivantes ? (basé sur vos précédentes réservations)</p>
                {% for personne in personnesLieesAuMail %}
                    <div id="divPersonne{{ loop.index }}">
                        <input type="hidden" id="idPersonne{{ loop.index }}" name="idPersonne{{ loop.index }}" value="{{ personne.id }}" />
                        <p>
                            Prénom : {{ personne.prenom }}<br />
                            Nom : {{ personne.nom }}<br />
                            Pays : {{ personne.pays }}<br />
                            Date de naissance : {{ personne.getDateNaissanceString() }}<br />
                            Réduction : {% if personne.reduction %}Oui{% else %}Non{% endif %}<br />
                            <input type="button" onclick="supprimerPersonne({{ loop.index }})" value="Supprimer" />
                        </p>
                    </div>
                {% endfor %}
                <p>Souhaitez vous réserver pour d'autres personnes ?</p>
            {% else %}
                <p>Donnez vous s'il vous plait les informations suivantes pour chacun des visiteurs attendus :</p>
            {% endif %}
            <!-- infos visiteurs -->
            <p id="pPersonne1">
                <label for="prenom1">Prénom : </label>
                    <input id="prenom1" type="text" name="prenom1" /><br />
                <label for="nom1">Nom : </label>
                    <input id="nom1" type="text" name="nom1" /><br />
                <label for="pays1">Pays : </label>
                <select id="pays1" name="pays1">
                    <option value="Afganistan">Afghanistan</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Armenia">Armenia</option>
                    <option value="Aruba">Aruba</option>
                    <option value="Australia">Australia</option>
                    <option value="Austria">Austria</option>
                    <option value="Azerbaijan">Azerbaijan</option>
                    <option value="Bahamas">Bahamas</option>
                    <option value="Bahrain">Bahrain</option>
                    <option value="Bangladesh">Bangladesh</option>
                    <option value="Barbados">Barbados</option>
                    <option value="Belarus">Belarus</option>
                    <option value="Belgium">Belgium</option>
                    <option value="Belize">Belize</option>
                    <option value="Benin">Benin</option>
                    <option value="Bermuda">Bermuda</option>
                    <option value="Bhutan">Bhutan</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Bonaire">Bonaire</option>
                    <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                    <option value="Botswana">Botswana</option>
                    <option value="Brazil">Brazil</option>
                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                    <option value="Brunei">Brunei</option>
                    <option value="Bulgaria">Bulgaria</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Burundi">Burundi</option>
                    <option value="Cambodia">Cambodia</option>
                    <option value="Cameroon">Cameroon</option>
                    <option value="Canada">Canada</option>
                    <option value="Canary Islands">Canary Islands</option>
                    <option value="Cape Verde">Cape Verde</option>
                    <option value="Cayman Islands">Cayman Islands</option>
                    <option value="Central African Republic">Central African Republic</option>
                    <option value="Chad">Chad</option>
                    <option value="Channel Islands">Channel Islands</option>
                    <option value="Chile">Chile</option>
                    <option value="China">China</option>
                    <option value="Christmas Island">Christmas Island</option>
                    <option value="Cocos Island">Cocos Island</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Comoros">Comoros</option>
                    <option value="Congo">Congo</option>
                    <option value="Cook Islands">Cook Islands</option>
                    <option value="Costa Rica">Costa Rica</option>
                    <option value="Cote DIvoire">Cote D'Ivoire</option>
                    <option value="Croatia">Croatia</option>
                    <option value="Cuba">Cuba</option>
                    <option value="Curaco">Curacao</option>
                    <option value="Cyprus">Cyprus</option>
                    <option value="Czech Republic">Czech Republic</option>
                    <option value="Denmark">Denmark</option>
                    <option value="Djibouti">Djibouti</option>
                    <option value="Dominica">Dominica</option>
                    <option value="Dominican Republic">Dominican Republic</option>
                    <option value="East Timor">East Timor</option>
                    <option value="Ecuador">Ecuador</option>
                    <option value="Egypt">Egypt</option>
                    <option value="El Salvador">El Salvador</option>
                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                    <option value="Eritrea">Eritrea</option>
                    <option value="Estonia">Estonia</option>
                    <option value="Ethiopia">Ethiopia</option>
                    <option value="Falkland Islands">Falkland Islands</option>
                    <option value="Faroe Islands">Faroe Islands</option>
                    <option value="Fiji">Fiji</option>
                    <option value="Finland">Finland</option>
                    <option value="France" selected >France</option>
                    <option value="French Guiana">French Guiana</option>
                    <option value="French Polynesia">French Polynesia</option>
                    <option value="French Southern Ter">French Southern Ter</option>
                    <option value="Gabon">Gabon</option>
                    <option value="Gambia">Gambia</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Germany">Germany</option>
                    <option value="Ghana">Ghana</option>
                    <option value="Gibraltar">Gibraltar</option>
                    <option value="Great Britain">Great Britain</option>
                    <option value="Greece">Greece</option>
                    <option value="Greenland">Greenland</option>
                    <option value="Grenada">Grenada</option>
                    <option value="Guadeloupe">Guadeloupe</option>
                    <option value="Guam">Guam</option>
                    <option value="Guatemala">Guatemala</option>
                    <option value="Guinea">Guinea</option>
                    <option value="Guyana">Guyana</option>
                    <option value="Haiti">Haiti</option>
                    <option value="Hawaii">Hawaii</option>
                    <option value="Honduras">Honduras</option>
                    <option value="Hong Kong">Hong Kong</option>
                    <option value="Hungary">Hungary</option>
                    <option value="Iceland">Iceland</option>
                    <option value="India">India</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Iran">Iran</option>
                    <option value="Iraq">Iraq</option>
                    <option value="Ireland">Ireland</option>
                    <option value="Isle of Man">Isle of Man</option>
                    <option value="Israel">Israel</option>
                    <option value="Italy">Italy</option>
                    <option value="Jamaica">Jamaica</option>
                    <option value="Japan">Japan</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Kazakhstan">Kazakhstan</option>
                    <option value="Kenya">Kenya</option>
                    <option value="Kiribati">Kiribati</option>
                    <option value="Korea North">Korea North</option>
                    <option value="Korea Sout">Korea South</option>
                    <option value="Kuwait">Kuwait</option>
                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                    <option value="Laos">Laos</option>
                    <option value="Latvia">Latvia</option>
                    <option value="Lebanon">Lebanon</option>
                    <option value="Lesotho">Lesotho</option>
                    <option value="Liberia">Liberia</option>
                    <option value="Libya">Libya</option>
                    <option value="Liechtenstein">Liechtenstein</option>
                    <option value="Lithuania">Lithuania</option>
                    <option value="Luxembourg">Luxembourg</option>
                    <option value="Macau">Macau</option>
                    <option value="Macedonia">Macedonia</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Malawi">Malawi</option>
                    <option value="Maldives">Maldives</option>
                    <option value="Mali">Mali</option>
                    <option value="Malta">Malta</option>
                    <option value="Marshall Islands">Marshall Islands</option>
                    <option value="Martinique">Martinique</option>
                    <option value="Mauritania">Mauritania</option>
                    <option value="Mauritius">Mauritius</option>
                    <option value="Mayotte">Mayotte</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Midway Islands">Midway Islands</option>
                    <option value="Moldova">Moldova</option>
                    <option value="Monaco">Monaco</option>
                    <option value="Mongolia">Mongolia</option>
                    <option value="Montserrat">Montserrat</option>
                    <option value="Morocco">Morocco</option>
                    <option value="Mozambique">Mozambique</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Nambia">Nambia</option>
                    <option value="Nauru">Nauru</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Netherland Antilles">Netherland Antilles</option>
                    <option value="Netherlands">Netherlands (Holland, Europe)</option>
                    <option value="Nevis">Nevis</option>
                    <option value="New Caledonia">New Caledonia</option>
                    <option value="New Zealand">New Zealand</option>
                    <option value="Nicaragua">Nicaragua</option>
                    <option value="Niger">Niger</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Niue">Niue</option>
                    <option value="Norfolk Island">Norfolk Island</option>
                    <option value="Norway">Norway</option>
                    <option value="Oman">Oman</option>
                    <option value="Pakistan">Pakistan</option>
                    <option value="Palau Island">Palau Island</option>
                    <option value="Palestine">Palestine</option>
                    <option value="Panama">Panama</option>
                    <option value="Papua New Guinea">Papua New Guinea</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Peru">Peru</option>
                    <option value="Phillipines">Philippines</option>
                    <option value="Pitcairn Island">Pitcairn Island</option>
                    <option value="Poland">Poland</option>
                    <option value="Portugal">Portugal</option>
                    <option value="Puerto Rico">Puerto Rico</option>
                    <option value="Qatar">Qatar</option>
                    <option value="Republic of Montenegro">Republic of Montenegro</option>
                    <option value="Republic of Serbia">Republic of Serbia</option>
                    <option value="Reunion">Reunion</option>
                    <option value="Romania">Romania</option>
                    <option value="Russia">Russia</option>
                    <option value="Rwanda">Rwanda</option>
                    <option value="St Barthelemy">St Barthelemy</option>
                    <option value="St Eustatius">St Eustatius</option>
                    <option value="St Helena">St Helena</option>
                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                    <option value="St Lucia">St Lucia</option>
                    <option value="St Maarten">St Maarten</option>
                    <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                    <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                    <option value="Saipan">Saipan</option>
                    <option value="Samoa">Samoa</option>
                    <option value="Samoa American">Samoa American</option>
                    <option value="San Marino">San Marino</option>
                    <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Senegal">Senegal</option>
                    <option value="Serbia">Serbia</option>
                    <option value="Seychelles">Seychelles</option>
                    <option value="Sierra Leone">Sierra Leone</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Slovakia">Slovakia</option>
                    <option value="Slovenia">Slovenia</option>
                    <option value="Solomon Islands">Solomon Islands</option>
                    <option value="Somalia">Somalia</option>
                    <option value="South Africa">South Africa</option>
                    <option value="Spain">Spain</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syria">Syria</option>
                    <option value="Tahiti">Tahiti</option>
                    <option value="Taiwan">Taiwan</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania">Tanzania</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Erimates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States of America">United States of America</option>
                    <option value="Uraguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Vatican City State">Vatican City State</option>
                    <option value="Venezuela">Venezuela</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                    <option value="Wake Island">Wake Island</option>
                    <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zaire">Zaire</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select><br /> 
                <label for="dateNaissance1">Date de naissance : </label>
                    <input id="dateNaissance1" type="text" name="dateNaissance1" /> Format : jj/mm/aaaa. Exemple : écrivez 01/12/1980 pour le premier décembre 1980.<br />
                <input type="checkbox" name="reduction1" id="reduction1" value="reduction1" />
                    <label for="reduction1"> je possède une réduction</label> (à cocher si vous êtes étudiant, employé du musée, d'un service du ministère de la culture, ou si vous êtes militaire. Attention : un justificatif vous sera demandé)<br />
                <input type="button" onclick="supprimerPersonneNouvelle(1)" value="Supprimer" />
            </p>
            <p id="pAjouterPersonne">
                <input type="button" onclick="ajouterPersonne()" value="Ajouter une personne" />
            </p>
            
            <!-- date reservation + journée entière ? -->
            
            <p>
                Veuillez indiquer les informations générales relatives a la réservation :
            </p>
            <p>
                <label for="dateVisite">
                    Date de visite du musée : 
                </label>
                <input type="text" name="dateVisite" id="dateVisite" /> Format : jj/mm/aaaa. Exemple : écrivez 10/06/2019 pour le dix juin 2019.<br />
                Souhaitez vous arriver avant ou après 14h ? Après 14h, le tarif demi-journée s'applique, induisant une division par deux des prix de billets.<br />
                <input type="radio" name="demiJournee" value="oui" id="oui" />
                    <label for="oui"> Nous arriverons après 14h</label><br />
                <input type="radio" name="demiJournee" value="non" />
                    <label for="non"> Nous arriverons avant 14h</label>
                <input type="hidden" name="indexDernierePersonne" value="1" id="indexDernierePersonne" />
            </p>


            <input type="submit" value="Soumettre le formulaire" />

        </form>





        <script type="text/javascript">
            var indexDernierePersonne = 1;
            var indexDernierePersonneElt = document.getElementById("indexDernierePersonne");
            function supprimerPersonne(indexPersonne)
            {
                var formulaire = document.getElementById("formulaire");
                var divPersonneElt = document.getElementById("divPersonne" + indexPersonne);
                formulaire.removeChild(divPersonneElt);
            }
            function supprimerPersonneNouvelle(indexPersonne)
            {
                var formulaire = document.getElementById("formulaire");
                var pPersonneElt = document.getElementById("pPersonne" + indexPersonne);
                formulaire.removeChild(pPersonneElt);
            }
            function ajouterPersonne()
            {
                // incrémentation de l'index de dernière personne
                ++indexDernierePersonne;
                indexDernierePersonneElt.setAttribute("value", indexDernierePersonne);

                // variables utiles pour la suite
                var formulaire = document.getElementById("formulaire");
                var pAjouterPersonne = document.getElementById("pAjouterPersonne");

                // création du nouveau paragraphe qui contiendra les champs
                var pNouvellePersonne = document.createElement("p");
                pNouvellePersonne.setAttribute("id", "pPersonne" + indexDernierePersonne);

                // création du champs de prénom
                var nouveauLabelPrenom = document.createElement("LABEL");
                nouveauLabelPrenom.setAttribute("for", "prenom" + indexDernierePersonne);
                nouveauLabelPrenom.textContent = "Prénom : ";

                var nouveauChampsPrenom = document.createElement("INPUT");
                nouveauChampsPrenom.setAttribute("type", "text");
                nouveauChampsPrenom.setAttribute("id", "prenom" + indexDernierePersonne);
                nouveauChampsPrenom.setAttribute("name", "prenom" + indexDernierePersonne);
                var nouveauBrPrenom = document.createElement("br");

                // création du champs de nom
                var nouveauLabelNom = document.createElement("LABEL");
                nouveauLabelNom.setAttribute("for", "nom" + indexDernierePersonne);
                nouveauLabelNom.textContent = "Nom : ";

                var nouveauChampsNom = document.createElement("INPUT");
                nouveauChampsNom.setAttribute("type", "text");
                nouveauChampsNom.setAttribute("id", "nom" + indexDernierePersonne);
                nouveauChampsNom.setAttribute("name", "nom" + indexDernierePersonne);
                var nouveauBrNom = document.createElement("br");

                // création du champs de pays
                var nouveauLabelPays = document.createElement("LABEL");
                nouveauLabelPays.setAttribute("for", "pays" + indexDernierePersonne);
                nouveauLabelPays.textContent = "Pays : ";

                var nouveauChampsPays = document.createElement("SELECT");
                nouveauChampsPays.setAttribute("id", "pays" + indexDernierePersonne);
                nouveauChampsPays.setAttribute("name", "pays" + indexDernierePersonne);
                var nouveauBrPays = document.createElement("br");
                nouveauChampsPays.innerHtml = '<option value="">Country...</option>                    <option value="Afganistan">Afghanistan</option>                    <option value="Albania">Albania</option>                    <option value="Algeria">Algeria</option>                    <option value="American Samoa">American Samoa</option>                    <option value="Andorra">Andorra</option>                    <option value="Angola">Angola</option>                    <option value="Anguilla">Anguilla</option>                    <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>                    <option value="Argentina">Argentina</option>                    <option value="Armenia">Armenia</option>                    <option value="Aruba">Aruba</option>                    <option value="Australia">Australia</option>                    <option value="Austria">Austria</option>                    <option value="Azerbaijan">Azerbaijan</option>                    <option value="Bahamas">Bahamas</option>                    <option value="Bahrain">Bahrain</option>                    <option value="Bangladesh">Bangladesh</option>                    <option value="Barbados">Barbados</option>                    <option value="Belarus">Belarus</option>                    <option value="Belgium">Belgium</option>                    <option value="Belize">Belize</option>                    <option value="Benin">Benin</option>                    <option value="Bermuda">Bermuda</option>                    <option value="Bhutan">Bhutan</option>                    <option value="Bolivia">Bolivia</option>                    <option value="Bonaire">Bonaire</option>                    <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>                    <option value="Botswana">Botswana</option>                    <option value="Brazil">Brazil</option>                    <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>                    <option value="Brunei">Brunei</option>                    <option value="Bulgaria">Bulgaria</option>                    <option value="Burkina Faso">Burkina Faso</option>                    <option value="Burundi">Burundi</option>                    <option value="Cambodia">Cambodia</option>                    <option value="Cameroon">Cameroon</option>                    <option value="Canada">Canada</option>                    <option value="Canary Islands">Canary Islands</option>                    <option value="Cape Verde">Cape Verde</option>                    <option value="Cayman Islands">Cayman Islands</option>                    <option value="Central African Republic">Central African Republic</option>                    <option value="Chad">Chad</option>                    <option value="Channel Islands">Channel Islands</option>                    <option value="Chile">Chile</option>                    <option value="China">China</option>                    <option value="Christmas Island">Christmas Island</option>                    <option value="Cocos Island">Cocos Island</option>                    <option value="Colombia">Colombia</option>                    <option value="Comoros">Comoros</option>                    <option value="Congo">Congo</option>                    <option value="Cook Islands">Cook Islands</option>                    <option value="Costa Rica">Costa Rica</option>                    <option value="Cote DIvoire">Cote D Ivoire</option>                    <option value="Croatia">Croatia</option>                    <option value="Cuba">Cuba</option>                    <option value="Curaco">Curacao</option>                    <option value="Cyprus">Cyprus</option>                    <option value="Czech Republic">Czech Republic</option>                    <option value="Denmark">Denmark</option>                    <option value="Djibouti">Djibouti</option>                    <option value="Dominica">Dominica</option>                    <option value="Dominican Republic">Dominican Republic</option>                    <option value="East Timor">East Timor</option>                    <option value="Ecuador">Ecuador</option>                    <option value="Egypt">Egypt</option>                    <option value="El Salvador">El Salvador</option>                    <option value="Equatorial Guinea">Equatorial Guinea</option>                    <option value="Eritrea">Eritrea</option>                    <option value="Estonia">Estonia</option>                    <option value="Ethiopia">Ethiopia</option>                    <option value="Falkland Islands">Falkland Islands</option>                    <option value="Faroe Islands">Faroe Islands</option>                    <option value="Fiji">Fiji</option>                    <option value="Finland">Finland</option>                    <option value="France" selected >France</option>                    <option value="French Guiana">French Guiana</option>                    <option value="French Polynesia">French Polynesia</option>                    <option value="French Southern Ter">French Southern Ter</option>                    <option value="Gabon">Gabon</option>                    <option value="Gambia">Gambia</option>                    <option value="Georgia">Georgia</option>                    <option value="Germany">Germany</option>                    <option value="Ghana">Ghana</option>                    <option value="Gibraltar">Gibraltar</option>                    <option value="Great Britain">Great Britain</option>                    <option value="Greece">Greece</option>                    <option value="Greenland">Greenland</option>                    <option value="Grenada">Grenada</option>                    <option value="Guadeloupe">Guadeloupe</option>                    <option value="Guam">Guam</option>                    <option value="Guatemala">Guatemala</option>                    <option value="Guinea">Guinea</option>                    <option value="Guyana">Guyana</option>                    <option value="Haiti">Haiti</option>                    <option value="Hawaii">Hawaii</option>                    <option value="Honduras">Honduras</option>                    <option value="Hong Kong">Hong Kong</option>                    <option value="Hungary">Hungary</option>                    <option value="Iceland">Iceland</option>                    <option value="India">India</option>                    <option value="Indonesia">Indonesia</option>                    <option value="Iran">Iran</option>                    <option value="Iraq">Iraq</option>                    <option value="Ireland">Ireland</option>                    <option value="Isle of Man">Isle of Man</option>                    <option value="Israel">Israel</option>                    <option value="Italy">Italy</option>                    <option value="Jamaica">Jamaica</option>                    <option value="Japan">Japan</option>                    <option value="Jordan">Jordan</option>                    <option value="Kazakhstan">Kazakhstan</option>                    <option value="Kenya">Kenya</option>                    <option value="Kiribati">Kiribati</option>                    <option value="Korea North">Korea North</option>                    <option value="Korea Sout">Korea South</option>                    <option value="Kuwait">Kuwait</option>                    <option value="Kyrgyzstan">Kyrgyzstan</option>                    <option value="Laos">Laos</option>                    <option value="Latvia">Latvia</option>                    <option value="Lebanon">Lebanon</option>                    <option value="Lesotho">Lesotho</option>                    <option value="Liberia">Liberia</option>                    <option value="Libya">Libya</option>                    <option value="Liechtenstein">Liechtenstein</option>                    <option value="Lithuania">Lithuania</option>                    <option value="Luxembourg">Luxembourg</option>                    <option value="Macau">Macau</option>                    <option value="Macedonia">Macedonia</option>                    <option value="Madagascar">Madagascar</option>                    <option value="Malaysia">Malaysia</option>                    <option value="Malawi">Malawi</option>                    <option value="Maldives">Maldives</option>                    <option value="Mali">Mali</option>                    <option value="Malta">Malta</option>                    <option value="Marshall Islands">Marshall Islands</option>                    <option value="Martinique">Martinique</option>                    <option value="Mauritania">Mauritania</option>                    <option value="Mauritius">Mauritius</option>                    <option value="Mayotte">Mayotte</option>                    <option value="Mexico">Mexico</option>                    <option value="Midway Islands">Midway Islands</option>                    <option value="Moldova">Moldova</option>                    <option value="Monaco">Monaco</option>                    <option value="Mongolia">Mongolia</option>                    <option value="Montserrat">Montserrat</option>                    <option value="Morocco">Morocco</option>                    <option value="Mozambique">Mozambique</option>                    <option value="Myanmar">Myanmar</option>                    <option value="Nambia">Nambia</option>                    <option value="Nauru">Nauru</option>                    <option value="Nepal">Nepal</option>                    <option value="Netherland Antilles">Netherland Antilles</option>                    <option value="Netherlands">Netherlands (Holland, Europe)</option>                    <option value="Nevis">Nevis</option>                    <option value="New Caledonia">New Caledonia</option>                    <option value="New Zealand">New Zealand</option>                    <option value="Nicaragua">Nicaragua</option>                    <option value="Niger">Niger</option>                    <option value="Nigeria">Nigeria</option>                    <option value="Niue">Niue</option>                    <option value="Norfolk Island">Norfolk Island</option>                    <option value="Norway">Norway</option>                    <option value="Oman">Oman</option>                    <option value="Pakistan">Pakistan</option>                    <option value="Palau Island">Palau Island</option>                    <option value="Palestine">Palestine</option>                    <option value="Panama">Panama</option>                    <option value="Papua New Guinea">Papua New Guinea</option>                    <option value="Paraguay">Paraguay</option>                    <option value="Peru">Peru</option>                    <option value="Phillipines">Philippines</option>                    <option value="Pitcairn Island">Pitcairn Island</option>                    <option value="Poland">Poland</option>                    <option value="Portugal">Portugal</option>                    <option value="Puerto Rico">Puerto Rico</option>                    <option value="Qatar">Qatar</option>                    <option value="Republic of Montenegro">Republic of Montenegro</option>                    <option value="Republic of Serbia">Republic of Serbia</option>                    <option value="Reunion">Reunion</option>                    <option value="Romania">Romania</option>                    <option value="Russia">Russia</option>                    <option value="Rwanda">Rwanda</option>                    <option value="St Barthelemy">St Barthelemy</option>                    <option value="St Eustatius">St Eustatius</option>                    <option value="St Helena">St Helena</option>                    <option value="St Kitts-Nevis">St Kitts-Nevis</option>                    <option value="St Lucia">St Lucia</option>                    <option value="St Maarten">St Maarten</option>                    <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>                    <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>                    <option value="Saipan">Saipan</option>                    <option value="Samoa">Samoa</option>                    <option value="Samoa American">Samoa American</option>                    <option value="San Marino">San Marino</option>                    <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>                    <option value="Saudi Arabia">Saudi Arabia</option>                    <option value="Senegal">Senegal</option>                    <option value="Serbia">Serbia</option>                    <option value="Seychelles">Seychelles</option>                    <option value="Sierra Leone">Sierra Leone</option>                    <option value="Singapore">Singapore</option>                    <option value="Slovakia">Slovakia</option>                    <option value="Slovenia">Slovenia</option>                    <option value="Solomon Islands">Solomon Islands</option>                    <option value="Somalia">Somalia</option>                    <option value="South Africa">South Africa</option>                    <option value="Spain">Spain</option>                    <option value="Sri Lanka">Sri Lanka</option>                    <option value="Sudan">Sudan</option>                    <option value="Suriname">Suriname</option>                    <option value="Swaziland">Swaziland</option>                    <option value="Sweden">Sweden</option>                    <option value="Switzerland">Switzerland</option>                    <option value="Syria">Syria</option>                    <option value="Tahiti">Tahiti</option>                    <option value="Taiwan">Taiwan</option>                    <option value="Tajikistan">Tajikistan</option>                    <option value="Tanzania">Tanzania</option>                    <option value="Thailand">Thailand</option>                    <option value="Togo">Togo</option>                    <option value="Tokelau">Tokelau</option>                    <option value="Tonga">Tonga</option>                    <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>                    <option value="Tunisia">Tunisia</option>                    <option value="Turkey">Turkey</option>                    <option value="Turkmenistan">Turkmenistan</option>                    <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>                    <option value="Tuvalu">Tuvalu</option>                    <option value="Uganda">Uganda</option>                    <option value="Ukraine">Ukraine</option>                    <option value="United Arab Erimates">United Arab Emirates</option>                    <option value="United Kingdom">United Kingdom</option>                    <option value="United States of America">United States of America</option>                    <option value="Uraguay">Uruguay</option>                    <option value="Uzbekistan">Uzbekistan</option>                    <option value="Vanuatu">Vanuatu</option>                    <option value="Vatican City State">Vatican City State</option>                    <option value="Venezuela">Venezuela</option>                    <option value="Vietnam">Vietnam</option>                    <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>                    <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>                    <option value="Wake Island">Wake Island</option>                    <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>                    <option value="Yemen">Yemen</option><option value="Zaire">Zaire</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option>';

                // création du champs de date de naissance
                var nouveauLabelDate = document.createElement("LABEL");
                nouveauLabelDate.setAttribute("for", "dateNaissance" + indexDernierePersonne);
                nouveauLabelDate.textContent = "Date de naissance : ";

                var nouveauChampsDate = document.createElement("INPUT");
                nouveauChampsDate.setAttribute("type", "text");
                nouveauChampsDate.setAttribute("id", "dateNaissance" + indexDernierePersonne);
                nouveauChampsDate.setAttribute("name", "dateNaissance" + indexDernierePersonne);
                var nouveauBrDate = document.createElement("br");

                // création du champs de reduction
                var nouveauLabelReduction = document.createElement("LABEL");
                nouveauLabelReduction.setAttribute("for", "reduction" + indexDernierePersonne);
                nouveauLabelReduction.textContent = " je possède une réduction ";

                var nouveauChampsReduction = document.createElement("INPUT");
                nouveauChampsReduction.setAttribute("type", "checkbox");
                nouveauChampsReduction.setAttribute("id", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("name", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("value", "reduction");
                var nouveauBrReduction = document.createElement("br");

                // création du bouton supprimer
                var nouveauBoutonSupprimer = document.createElement("input");
                nouveauBoutonSupprimer.setAttribute("type", "button");
                nouveauBoutonSupprimer.setAttribute("value", "Supprimer");
                nouveauBoutonSupprimer.setAttribute("onclick", "supprimerPersonneNouvelle(" + indexDernierePersonne + ")");

                // insertion des éléments dans la page
                formulaire.insertBefore(pNouvellePersonne, pAjouterPersonne);
                pNouvellePersonne.appendChild(nouveauLabelPrenom);
                pNouvellePersonne.appendChild(nouveauChampsPrenom);
                pNouvellePersonne.appendChild(nouveauBrPrenom);
                pNouvellePersonne.appendChild(nouveauLabelNom);
                pNouvellePersonne.appendChild(nouveauChampsNom);
                pNouvellePersonne.appendChild(nouveauBrNom);
                pNouvellePersonne.appendChild(nouveauLabelPays);
                pNouvellePersonne.appendChild(nouveauChampsPays);
                pNouvellePersonne.appendChild(nouveauBrPays);
                pNouvellePersonne.appendChild(nouveauLabelDate);
                pNouvellePersonne.appendChild(nouveauChampsDate);
                pNouvellePersonne.appendChild(nouveauBrDate);
                pNouvellePersonne.appendChild(nouveauChampsReduction);
                pNouvellePersonne.appendChild(nouveauLabelReduction);
                pNouvellePersonne.appendChild(nouveauBrReduction);
                pNouvellePersonne.appendChild(nouveauBoutonSupprimer);
            }
        </script>
    </body>
</html>