{% extends "@FmdBookingManagement/Default/layout.php.twig" %}

{% block titre %}{{ parent() }}reservation en cours{% endblock %}

{% block body %}
        <form method="post" action="paiement" id="formulaire">
            {% if ancienVisiteur %}
                <p>Voulez vous reserver pour les personnes suivantes ? (basé sur vos précédentes réservations)</p>
				<div class="encadre" id="divAnciennesPersonnes">
					{% for personne in personnesLieesAuMail %}
						<div id="divPersonne{{ loop.index }}">
							<input type="hidden" id="idPersonne{{ loop.index }}" name="idPersonne{{ loop.index }}" value="{{ personne.id }}" />
							<p>
								Prénom : {{ personne.prenom }}<br />
								Nom : {{ personne.nom }}<br />
								Pays : {{ personne.pays }}<br />
								Date de naissance : {{ personne.getDateNaissanceString() }}<br />
								Réduction : {% if personne.reduction %}Oui{% else %}Non{% endif %}<br />
								<input type="button" onclick="supprimerPersonne({{ loop.index }})" value="Supprimer" />
							</p>
						</div>
					{% endfor %}
				</div>
                <p>Souhaitez vous réserver pour d'autres personnes ? (dans le cas contraire, cliquez sur "supprimer")</p>
            {% else %}
                <p>Donnez vous s'il vous plait les informations suivantes pour chacun des visiteurs attendus :</p>
            {% endif %}
            <!-- infos visiteurs -->
			<div class="encadre" id="divNouvellesPersonnes">
				<p id="pPersonne1">
					<label for="prenom1">Prénom : </label>
						<input id="prenom1" type="text" name="prenom1" required /><br />
					<label for="nom1">Nom : </label>
						<input id="nom1" type="text" name="nom1" required /><br />
					<label for="pays1">Pays : </label>
					<select id="pays1" name="pays1">
						<option value="Afganistan">Afghanistan</option>
						<option value="Albania">Albania</option>
						<option value="Algeria">Algeria</option>
						<option value="American Samoa">American Samoa</option>
						<option value="Andorra">Andorra</option>
						<option value="Angola">Angola</option>
						<option value="Anguilla">Anguilla</option>
						<option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
						<option value="Argentina">Argentina</option>
						<option value="Armenia">Armenia</option>
						<option value="Aruba">Aruba</option>
						<option value="Australia">Australia</option>
						<option value="Austria">Austria</option>
						<option value="Azerbaijan">Azerbaijan</option>
						<option value="Bahamas">Bahamas</option>
						<option value="Bahrain">Bahrain</option>
						<option value="Bangladesh">Bangladesh</option>
						<option value="Barbados">Barbados</option>
						<option value="Belarus">Belarus</option>
						<option value="Belgium">Belgium</option>
						<option value="Belize">Belize</option>
						<option value="Benin">Benin</option>
						<option value="Bermuda">Bermuda</option>
						<option value="Bhutan">Bhutan</option>
						<option value="Bolivia">Bolivia</option>
						<option value="Bonaire">Bonaire</option>
						<option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
						<option value="Botswana">Botswana</option>
						<option value="Brazil">Brazil</option>
						<option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
						<option value="Brunei">Brunei</option>
						<option value="Bulgaria">Bulgaria</option>
						<option value="Burkina Faso">Burkina Faso</option>
						<option value="Burundi">Burundi</option>
						<option value="Cambodia">Cambodia</option>
						<option value="Cameroon">Cameroon</option>
						<option value="Canada">Canada</option>
						<option value="Canary Islands">Canary Islands</option>
						<option value="Cape Verde">Cape Verde</option>
						<option value="Cayman Islands">Cayman Islands</option>
						<option value="Central African Republic">Central African Republic</option>
						<option value="Chad">Chad</option>
						<option value="Channel Islands">Channel Islands</option>
						<option value="Chile">Chile</option>
						<option value="China">China</option>
						<option value="Christmas Island">Christmas Island</option>
						<option value="Cocos Island">Cocos Island</option>
						<option value="Colombia">Colombia</option>
						<option value="Comoros">Comoros</option>
						<option value="Congo">Congo</option>
						<option value="Cook Islands">Cook Islands</option>
						<option value="Costa Rica">Costa Rica</option>
						<option value="Cote DIvoire">Cote D'Ivoire</option>
						<option value="Croatia">Croatia</option>
						<option value="Cuba">Cuba</option>
						<option value="Curaco">Curacao</option>
						<option value="Cyprus">Cyprus</option>
						<option value="Czech Republic">Czech Republic</option>
						<option value="Denmark">Denmark</option>
						<option value="Djibouti">Djibouti</option>
						<option value="Dominica">Dominica</option>
						<option value="Dominican Republic">Dominican Republic</option>
						<option value="East Timor">East Timor</option>
						<option value="Ecuador">Ecuador</option>
						<option value="Egypt">Egypt</option>
						<option value="El Salvador">El Salvador</option>
						<option value="Equatorial Guinea">Equatorial Guinea</option>
						<option value="Eritrea">Eritrea</option>
						<option value="Estonia">Estonia</option>
						<option value="Ethiopia">Ethiopia</option>
						<option value="Falkland Islands">Falkland Islands</option>
						<option value="Faroe Islands">Faroe Islands</option>
						<option value="Fiji">Fiji</option>
						<option value="Finland">Finland</option>
						<option value="France" selected >France</option>
						<option value="French Guiana">French Guiana</option>
						<option value="French Polynesia">French Polynesia</option>
						<option value="French Southern Ter">French Southern Ter</option>
						<option value="Gabon">Gabon</option>
						<option value="Gambia">Gambia</option>
						<option value="Georgia">Georgia</option>
						<option value="Germany">Germany</option>
						<option value="Ghana">Ghana</option>
						<option value="Gibraltar">Gibraltar</option>
						<option value="Great Britain">Great Britain</option>
						<option value="Greece">Greece</option>
						<option value="Greenland">Greenland</option>
						<option value="Grenada">Grenada</option>
						<option value="Guadeloupe">Guadeloupe</option>
						<option value="Guam">Guam</option>
						<option value="Guatemala">Guatemala</option>
						<option value="Guinea">Guinea</option>
						<option value="Guyana">Guyana</option>
						<option value="Haiti">Haiti</option>
						<option value="Hawaii">Hawaii</option>
						<option value="Honduras">Honduras</option>
						<option value="Hong Kong">Hong Kong</option>
						<option value="Hungary">Hungary</option>
						<option value="Iceland">Iceland</option>
						<option value="India">India</option>
						<option value="Indonesia">Indonesia</option>
						<option value="Iran">Iran</option>
						<option value="Iraq">Iraq</option>
						<option value="Ireland">Ireland</option>
						<option value="Isle of Man">Isle of Man</option>
						<option value="Israel">Israel</option>
						<option value="Italy">Italy</option>
						<option value="Jamaica">Jamaica</option>
						<option value="Japan">Japan</option>
						<option value="Jordan">Jordan</option>
						<option value="Kazakhstan">Kazakhstan</option>
						<option value="Kenya">Kenya</option>
						<option value="Kiribati">Kiribati</option>
						<option value="Korea North">Korea North</option>
						<option value="Korea Sout">Korea South</option>
						<option value="Kuwait">Kuwait</option>
						<option value="Kyrgyzstan">Kyrgyzstan</option>
						<option value="Laos">Laos</option>
						<option value="Latvia">Latvia</option>
						<option value="Lebanon">Lebanon</option>
						<option value="Lesotho">Lesotho</option>
						<option value="Liberia">Liberia</option>
						<option value="Libya">Libya</option>
						<option value="Liechtenstein">Liechtenstein</option>
						<option value="Lithuania">Lithuania</option>
						<option value="Luxembourg">Luxembourg</option>
						<option value="Macau">Macau</option>
						<option value="Macedonia">Macedonia</option>
						<option value="Madagascar">Madagascar</option>
						<option value="Malaysia">Malaysia</option>
						<option value="Malawi">Malawi</option>
						<option value="Maldives">Maldives</option>
						<option value="Mali">Mali</option>
						<option value="Malta">Malta</option>
						<option value="Marshall Islands">Marshall Islands</option>
						<option value="Martinique">Martinique</option>
						<option value="Mauritania">Mauritania</option>
						<option value="Mauritius">Mauritius</option>
						<option value="Mayotte">Mayotte</option>
						<option value="Mexico">Mexico</option>
						<option value="Midway Islands">Midway Islands</option>
						<option value="Moldova">Moldova</option>
						<option value="Monaco">Monaco</option>
						<option value="Mongolia">Mongolia</option>
						<option value="Montserrat">Montserrat</option>
						<option value="Morocco">Morocco</option>
						<option value="Mozambique">Mozambique</option>
						<option value="Myanmar">Myanmar</option>
						<option value="Nambia">Nambia</option>
						<option value="Nauru">Nauru</option>
						<option value="Nepal">Nepal</option>
						<option value="Netherland Antilles">Netherland Antilles</option>
						<option value="Netherlands">Netherlands (Holland, Europe)</option>
						<option value="Nevis">Nevis</option>
						<option value="New Caledonia">New Caledonia</option>
						<option value="New Zealand">New Zealand</option>
						<option value="Nicaragua">Nicaragua</option>
						<option value="Niger">Niger</option>
						<option value="Nigeria">Nigeria</option>
						<option value="Niue">Niue</option>
						<option value="Norfolk Island">Norfolk Island</option>
						<option value="Norway">Norway</option>
						<option value="Oman">Oman</option>
						<option value="Pakistan">Pakistan</option>
						<option value="Palau Island">Palau Island</option>
						<option value="Palestine">Palestine</option>
						<option value="Panama">Panama</option>
						<option value="Papua New Guinea">Papua New Guinea</option>
						<option value="Paraguay">Paraguay</option>
						<option value="Peru">Peru</option>
						<option value="Phillipines">Philippines</option>
						<option value="Pitcairn Island">Pitcairn Island</option>
						<option value="Poland">Poland</option>
						<option value="Portugal">Portugal</option>
						<option value="Puerto Rico">Puerto Rico</option>
						<option value="Qatar">Qatar</option>
						<option value="Republic of Montenegro">Republic of Montenegro</option>
						<option value="Republic of Serbia">Republic of Serbia</option>
						<option value="Reunion">Reunion</option>
						<option value="Romania">Romania</option>
						<option value="Russia">Russia</option>
						<option value="Rwanda">Rwanda</option>
						<option value="St Barthelemy">St Barthelemy</option>
						<option value="St Eustatius">St Eustatius</option>
						<option value="St Helena">St Helena</option>
						<option value="St Kitts-Nevis">St Kitts-Nevis</option>
						<option value="St Lucia">St Lucia</option>
						<option value="St Maarten">St Maarten</option>
						<option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
						<option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
						<option value="Saipan">Saipan</option>
						<option value="Samoa">Samoa</option>
						<option value="Samoa American">Samoa American</option>
						<option value="San Marino">San Marino</option>
						<option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
						<option value="Saudi Arabia">Saudi Arabia</option>
						<option value="Senegal">Senegal</option>
						<option value="Serbia">Serbia</option>
						<option value="Seychelles">Seychelles</option>
						<option value="Sierra Leone">Sierra Leone</option>
						<option value="Singapore">Singapore</option>
						<option value="Slovakia">Slovakia</option>
						<option value="Slovenia">Slovenia</option>
						<option value="Solomon Islands">Solomon Islands</option>
						<option value="Somalia">Somalia</option>
						<option value="South Africa">South Africa</option>
						<option value="Spain">Spain</option>
						<option value="Sri Lanka">Sri Lanka</option>
						<option value="Sudan">Sudan</option>
						<option value="Suriname">Suriname</option>
						<option value="Swaziland">Swaziland</option>
						<option value="Sweden">Sweden</option>
						<option value="Switzerland">Switzerland</option>
						<option value="Syria">Syria</option>
						<option value="Tahiti">Tahiti</option>
						<option value="Taiwan">Taiwan</option>
						<option value="Tajikistan">Tajikistan</option>
						<option value="Tanzania">Tanzania</option>
						<option value="Thailand">Thailand</option>
						<option value="Togo">Togo</option>
						<option value="Tokelau">Tokelau</option>
						<option value="Tonga">Tonga</option>
						<option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
						<option value="Tunisia">Tunisia</option>
						<option value="Turkey">Turkey</option>
						<option value="Turkmenistan">Turkmenistan</option>
						<option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
						<option value="Tuvalu">Tuvalu</option>
						<option value="Uganda">Uganda</option>
						<option value="Ukraine">Ukraine</option>
						<option value="United Arab Erimates">United Arab Emirates</option>
						<option value="United Kingdom">United Kingdom</option>
						<option value="United States of America">United States of America</option>
						<option value="Uraguay">Uruguay</option>
						<option value="Uzbekistan">Uzbekistan</option>
						<option value="Vanuatu">Vanuatu</option>
						<option value="Vatican City State">Vatican City State</option>
						<option value="Venezuela">Venezuela</option>
						<option value="Vietnam">Vietnam</option>
						<option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
						<option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
						<option value="Wake Island">Wake Island</option>
						<option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
						<option value="Yemen">Yemen</option>
						<option value="Zaire">Zaire</option>
						<option value="Zambia">Zambia</option>
						<option value="Zimbabwe">Zimbabwe</option>
					</select><br /> 
					<label for="dateNaissance1">Date de naissance : </label>
						<input id="dateNaissance1" type="text" name="dateNaissance1" required /> Format : jj/mm/aaaa. Exemple : écrivez 01/12/1980 pour le premier décembre 1980.<br />
					<input type="checkbox" name="reduction1" id="reduction1" value="reduction1" />
						<label for="reduction1"> je possède une réduction</label> (à cocher si vous êtes étudiant, employé du musée, d'un service du ministère de la culture, ou si vous êtes militaire. Attention : un justificatif vous sera demandé)<br />
					<input type="button" onclick="supprimerPersonneNouvelle(1)" value="Supprimer" />
				</p>
				<p id="pAjouterPersonne">
					<input type="button" onclick="ajouterPersonne()" value="Ajouter une personne" />
				</p>
			</div>
            
            <!-- date reservation + journée entière ? -->
            
            <p>
                Veuillez indiquer les informations générales relatives a la réservation :
            </p>
            <p>
                <label for="dateVisite">
                    Date de visite du musée : 
                </label>
                <input type="text" name="dateVisite" id="dateVisite" required /> Format : jj/mm/aaaa. Exemple : écrivez 10/06/2019 pour le dix juin 2019.<br />
                Souhaitez vous arriver avant ou après 14h ? Après 14h, le tarif demi-journée s'applique, induisant une division par deux des prix de billets.<br />
                <input type="radio" name="demiJournee" value="oui" id="oui" />
                    <label for="oui"> Nous arriverons après 14h</label><br />
                <input type="radio" name="demiJournee" value="non" checked />
                    <label for="non"> Nous arriverons avant 14h</label>
                <input type="hidden" name="indexDernierePersonne" value="1" id="indexDernierePersonne" />
            </p>


            <input type="submit" value="Soumettre le formulaire" />
        </form>





        <script type="text/javascript">
            var indexDernierePersonne = 1;
            var indexDernierePersonneElt = document.getElementById("indexDernierePersonne");
            function supprimerPersonne(indexPersonne)
            {
                var divAnciennesPersonnesElt = document.getElementById("divAnciennesPersonnes");
                var divPersonneElt = document.getElementById("divPersonne" + indexPersonne);
                divAnciennesPersonnesElt.removeChild(divPersonneElt);
            }
            function supprimerPersonneNouvelle(indexPersonne)
            {
                var divNouvellesPersonnesElt = document.getElementById("divNouvellesPersonnes");
                var pPersonneElt = document.getElementById("pPersonne" + indexPersonne);
                divNouvellesPersonnesElt.removeChild(pPersonneElt);
            }
            function ajouterPersonne()
            {
                // incrémentation de l'index de dernière personne
                ++indexDernierePersonne;
                indexDernierePersonneElt.setAttribute("value", indexDernierePersonne);

                // variables utiles pour la suite
                var divNouvellesPersonnesElt = document.getElementById("divNouvellesPersonnes");
                var pAjouterPersonne = document.getElementById("pAjouterPersonne");

                // création du nouveau paragraphe qui contiendra les champs
                var pNouvellePersonne = document.createElement("p");
                pNouvellePersonne.setAttribute("id", "pPersonne" + indexDernierePersonne);

                // création du champs de prénom
                var nouveauLabelPrenom = document.createElement("LABEL");
                nouveauLabelPrenom.setAttribute("for", "prenom" + indexDernierePersonne);
                nouveauLabelPrenom.textContent = "Prénom : ";

                var nouveauChampsPrenom = document.createElement("INPUT");
                nouveauChampsPrenom.setAttribute("type", "text");
                nouveauChampsPrenom.setAttribute("id", "prenom" + indexDernierePersonne);
                nouveauChampsPrenom.setAttribute("name", "prenom" + indexDernierePersonne);
                nouveauChampsPrenom.required = true;
                var nouveauBrPrenom = document.createElement("br");

                // création du champs de nom
                var nouveauLabelNom = document.createElement("LABEL");
                nouveauLabelNom.setAttribute("for", "nom" + indexDernierePersonne);
                nouveauLabelNom.textContent = "Nom : ";

                var nouveauChampsNom = document.createElement("INPUT");
                nouveauChampsNom.setAttribute("type", "text");
                nouveauChampsNom.setAttribute("id", "nom" + indexDernierePersonne);
                nouveauChampsNom.setAttribute("name", "nom" + indexDernierePersonne);
                nouveauChampsNom.required = true;
                var nouveauBrNom = document.createElement("br");

                // création du champs de pays
                var nouveauLabelPays = document.createElement("LABEL");
                nouveauLabelPays.setAttribute("for", "pays" + indexDernierePersonne);
                nouveauLabelPays.textContent = "Pays : ";

                var nouveauChampsPays = document.createElement("SELECT");
                nouveauChampsPays.setAttribute("id", "pays" + indexDernierePersonne);
                nouveauChampsPays.setAttribute("name", "pays" + indexDernierePersonne);
                var nouveauBrPays = document.createElement("br");
                var cpt = 0;
                var tabOptions = [];
                //nouveauChampsPays.innerHtml = 
                tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "");
				tabOptions[cpt].textContent = "Country...";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
                tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Afganistan");
				tabOptions[cpt].textContent = "Afghanistan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				
                tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Albania");
				tabOptions[cpt].textContent = "Albania";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				
                tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Algeria");
				tabOptions[cpt].textContent = "Algeria";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "American Samoa");
				tabOptions[cpt].textContent = "American Samoa";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Andorra");
				tabOptions[cpt].textContent = "Andorra";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				
                tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Angola");
				tabOptions[cpt].textContent = "Angola";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Anguilla");
				tabOptions[cpt].textContent = "Anguilla";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Antigua &amp; Barbuda");
				tabOptions[cpt].textContent = "Antigua &amp; Barbuda";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Argentina");
				tabOptions[cpt].textContent = "Argentina";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Armenia");
				tabOptions[cpt].textContent = "Armenia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Aruba");
				tabOptions[cpt].textContent = "Aruba";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Australia");
				tabOptions[cpt].textContent = "Australia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Austria");
				tabOptions[cpt].textContent = "Austria";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Azerbaijan");
				tabOptions[cpt].textContent = "Azerbaijan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bahamas");
				tabOptions[cpt].textContent = "Bahamas";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bahrain");
				tabOptions[cpt].textContent = "Bahrain";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bangladesh");
				tabOptions[cpt].textContent = "Bangladesh";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Barbados");
				tabOptions[cpt].textContent = "Barbados";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Belarus");
				tabOptions[cpt].textContent = "Belarus";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Belgium");
				tabOptions[cpt].textContent = "Belgium";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Belize");
				tabOptions[cpt].textContent = "Belize";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Benin");
				tabOptions[cpt].textContent = "Benin";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bermuda");
				tabOptions[cpt].textContent = "Bermuda";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bhutan");
				tabOptions[cpt].textContent = "Bhutan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bolivia");
				tabOptions[cpt].textContent = "Bolivia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bonaire");
				tabOptions[cpt].textContent = "Bonaire";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bosnia &amp; Herzegovina");
				tabOptions[cpt].textContent = "Bosnia &amp; Herzegovina";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Botswana");
				tabOptions[cpt].textContent = "Botswana";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Brazil");
				tabOptions[cpt].textContent = "Brazil";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "British Indian Ocean Ter");
				tabOptions[cpt].textContent = "British Indian Ocean Ter";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Brunei");
				tabOptions[cpt].textContent = "Brunei";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Bulgaria");
				tabOptions[cpt].textContent = "Bulgaria";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Burkina Faso");
				tabOptions[cpt].textContent = "Burkina Faso";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Burundi");
				tabOptions[cpt].textContent = "Burundi";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cambodia");
				tabOptions[cpt].textContent = "Cambodia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cameroon");
				tabOptions[cpt].textContent = "Cameroon";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Canada");
				tabOptions[cpt].textContent = "Canada";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Canary Islands");
				tabOptions[cpt].textContent = "Canary Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cape Verde");
				tabOptions[cpt].textContent = "Cape Verde";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cayman Islands");
				tabOptions[cpt].textContent = "Cayman Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Central African Republic");
				tabOptions[cpt].textContent = "Central African Republic";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Chad");
				tabOptions[cpt].textContent = "Chad";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Channel Islands");
				tabOptions[cpt].textContent = "Channel Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Chile");
				tabOptions[cpt].textContent = "Chile";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "China");
				tabOptions[cpt].textContent = "China";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Christmas Island");
				tabOptions[cpt].textContent = "Christmas Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cocos Island");
				tabOptions[cpt].textContent = "Cocos Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Colombia");
				tabOptions[cpt].textContent = "Colombia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Comoros");
				tabOptions[cpt].textContent = "Comoros";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Congo");
				tabOptions[cpt].textContent = "Congo";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cook Islands");
				tabOptions[cpt].textContent = "Cook Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Costa Rica");
				tabOptions[cpt].textContent = "Costa Rica";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cote DIvoire");
				tabOptions[cpt].textContent = "Cote D Ivoire";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Croatia");
				tabOptions[cpt].textContent = "Croatia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cuba");
				tabOptions[cpt].textContent = "Cuba";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Curaco");
				tabOptions[cpt].textContent = "Curacao";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Cyprus");
				tabOptions[cpt].textContent = "Cyprus";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Czech Republic");
				tabOptions[cpt].textContent = "Czech Republic";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Denmark");
				tabOptions[cpt].textContent = "Denmark";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Djibouti");
				tabOptions[cpt].textContent = "Djibouti";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Dominica");
				tabOptions[cpt].textContent = "Dominica";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Dominican Republic");
				tabOptions[cpt].textContent = "Dominican Republic";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "East Timor");
				tabOptions[cpt].textContent = "East Timor";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Ecuador");
				tabOptions[cpt].textContent = "Ecuador";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Egypt");
				tabOptions[cpt].textContent = "Egypt";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "El Salvador");
				tabOptions[cpt].textContent = "El Salvador";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Equatorial Guinea");
				tabOptions[cpt].textContent = "Equatorial Guinea";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Eritrea");
				tabOptions[cpt].textContent = "Eritrea";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Estonia");
				tabOptions[cpt].textContent = "Estonia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Ethiopia");
				tabOptions[cpt].textContent = "Ethiopia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Falkland Islands");
				tabOptions[cpt].textContent = "Falkland Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Faroe Islands");
				tabOptions[cpt].textContent = "Faroe Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Fiji");
				tabOptions[cpt].textContent = "Fiji";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Finland");
				tabOptions[cpt].textContent = "Finland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "France");
                tabOptions[cpt].setAttribute("selected", "selected");
                tabOptions[cpt].textContent = "France";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "French Guiana");
				tabOptions[cpt].textContent = "French Guiana";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "French Polynesia");
				tabOptions[cpt].textContent = "French Polynesia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "French Southern Ter");
				tabOptions[cpt].textContent = "French Southern Ter";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Gabon");
				tabOptions[cpt].textContent = "Gabon";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Gambia");
				tabOptions[cpt].textContent = "Gambia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Georgia");
				tabOptions[cpt].textContent = "Georgia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Germany");
				tabOptions[cpt].textContent = "Germany";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Ghana");
				tabOptions[cpt].textContent = "Ghana";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Gibraltar");
				tabOptions[cpt].textContent = "Gibraltar";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Great Britain");
				tabOptions[cpt].textContent = "Great Britain";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Greece");
				tabOptions[cpt].textContent = "Greece";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Greenland");
				tabOptions[cpt].textContent = "Greenland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Grenada");
				tabOptions[cpt].textContent = "Grenada";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Guadeloupe");
				tabOptions[cpt].textContent = "Guadeloupe";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Guam");
				tabOptions[cpt].textContent = "Guam";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Guatemala");
				tabOptions[cpt].textContent = "Guatemala";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Guinea");
				tabOptions[cpt].textContent = "Guinea";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Guyana");
				tabOptions[cpt].textContent = "Guyana";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Haiti");
				tabOptions[cpt].textContent = "Haiti";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Hawaii");
				tabOptions[cpt].textContent = "Hawaii";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Honduras");
				tabOptions[cpt].textContent = "Honduras";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Hong Kong");
				tabOptions[cpt].textContent = "Hong Kong";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Hungary");
				tabOptions[cpt].textContent = "Hungary";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Iceland");
				tabOptions[cpt].textContent = "Iceland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "India");
				tabOptions[cpt].textContent = "India";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Indonesia");
				tabOptions[cpt].textContent = "Indonesia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Iran");
				tabOptions[cpt].textContent = "Iran";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Iraq");
				tabOptions[cpt].textContent = "Iraq";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Ireland");
				tabOptions[cpt].textContent = "Ireland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Isle of Man");
				tabOptions[cpt].textContent = "Isle of Man";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Israel");
				tabOptions[cpt].textContent = "Israel";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Italy");
				tabOptions[cpt].textContent = "Italy";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Jamaica");
				tabOptions[cpt].textContent = "Jamaica";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Japan");
				tabOptions[cpt].textContent = "Japan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Jordan");
				tabOptions[cpt].textContent = "Jordan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Kazakhstan");
				tabOptions[cpt].textContent = "Kazakhstan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Kenya");
				tabOptions[cpt].textContent = "Kenya";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Kiribati");
				tabOptions[cpt].textContent = "Kiribati";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Korea North");
				tabOptions[cpt].textContent = "Korea North";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Korea Sout");
				tabOptions[cpt].textContent = "Korea South";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Kuwait");
				tabOptions[cpt].textContent = "Kuwait";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Kyrgyzstan");
				tabOptions[cpt].textContent = "Kyrgyzstan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Laos");
				tabOptions[cpt].textContent = "Laos";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Latvia");
				tabOptions[cpt].textContent = "Latvia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Lebanon");
				tabOptions[cpt].textContent = "Lebanon";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Lesotho");
				tabOptions[cpt].textContent = "Lesotho";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Liberia");
				tabOptions[cpt].textContent = "Liberia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Libya");
				tabOptions[cpt].textContent = "Libya";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Liechtenstein");
				tabOptions[cpt].textContent = "Liechtenstein";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Lithuania");
				tabOptions[cpt].textContent = "Lithuania";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Luxembourg");
				tabOptions[cpt].textContent = "Luxembourg";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Macau");
				tabOptions[cpt].textContent = "Macau";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Macedonia");
				tabOptions[cpt].textContent = "Macedonia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Madagascar");
				tabOptions[cpt].textContent = "Madagascar";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Malaysia");
				tabOptions[cpt].textContent = "Malaysia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Malawi");
				tabOptions[cpt].textContent = "Malawi";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Maldives");
				tabOptions[cpt].textContent = "Maldives";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mali");
				tabOptions[cpt].textContent = "Mali";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Malta");
				tabOptions[cpt].textContent = "Malta";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Marshall Islands");
				tabOptions[cpt].textContent = "Marshall Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Martinique");
				tabOptions[cpt].textContent = "Martinique";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mauritania");
				tabOptions[cpt].textContent = "Mauritania";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mauritius");
				tabOptions[cpt].textContent = "Mauritius";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mayotte");
				tabOptions[cpt].textContent = "Mayotte";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mexico");
				tabOptions[cpt].textContent = "Mexico";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Midway Islands");
				tabOptions[cpt].textContent = "Midway Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Moldova");
				tabOptions[cpt].textContent = "Moldova";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Monaco");
				tabOptions[cpt].textContent = "Monaco";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mongolia");
				tabOptions[cpt].textContent = "Mongolia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Montserrat");
				tabOptions[cpt].textContent = "Montserrat";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Morocco");
				tabOptions[cpt].textContent = "Morocco";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Mozambique");
				tabOptions[cpt].textContent = "Mozambique";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Myanmar");
				tabOptions[cpt].textContent = "Myanmar";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nambia");
				tabOptions[cpt].textContent = "Nambia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nauru");
				tabOptions[cpt].textContent = "Nauru";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nepal");
				tabOptions[cpt].textContent = "Nepal";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Netherland Antilles");
				tabOptions[cpt].textContent = "Netherland Antilles";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Netherlands");
				tabOptions[cpt].textContent = "Netherlands (Holland, Europe)";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nevis");
				tabOptions[cpt].textContent = "Nevis";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "New Caledonia");
				tabOptions[cpt].textContent = "New Caledonia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "New Zealand");
				tabOptions[cpt].textContent = "New Zealand";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nicaragua");
				tabOptions[cpt].textContent = "Nicaragua";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Niger");
				tabOptions[cpt].textContent = "Niger";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Nigeria");
				tabOptions[cpt].textContent = "Nigeria";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Niue");
				tabOptions[cpt].textContent = "Niue";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Norfolk Island");
				tabOptions[cpt].textContent = "Norfolk Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Norway");
				tabOptions[cpt].textContent = "Norway";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Oman");
				tabOptions[cpt].textContent = "Oman";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Pakistan");
				tabOptions[cpt].textContent = "Pakistan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Palau Island");
				tabOptions[cpt].textContent = "Palau Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Palestine");
				tabOptions[cpt].textContent = "Palestine";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Panama");
				tabOptions[cpt].textContent = "Panama";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Papua New Guinea");
				tabOptions[cpt].textContent = "Papua New Guinea";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Paraguay");
				tabOptions[cpt].textContent = "Paraguay";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Peru");
				tabOptions[cpt].textContent = "Peru";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Phillipines");
				tabOptions[cpt].textContent = "Philippines";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Pitcairn Island");
				tabOptions[cpt].textContent = "Pitcairn Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Poland");
				tabOptions[cpt].textContent = "Poland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Portugal");
				tabOptions[cpt].textContent = "Portugal";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Puerto Rico");
				tabOptions[cpt].textContent = "Puerto Rico";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Qatar");
				tabOptions[cpt].textContent = "Qatar";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Republic of Montenegro");
				tabOptions[cpt].textContent = "Republic of Montenegro";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Republic of Serbia");
				tabOptions[cpt].textContent = "Republic of Serbia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Reunion");
				tabOptions[cpt].textContent = "Reunion";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Romania");
				tabOptions[cpt].textContent = "Romania";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Russia");
				tabOptions[cpt].textContent = "Russia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Rwanda");
				tabOptions[cpt].textContent = "Rwanda";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Barthelemy");
				tabOptions[cpt].textContent = "St Barthelemy";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Eustatius");
				tabOptions[cpt].textContent = "St Eustatius";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Helena");
				tabOptions[cpt].textContent = "St Helena";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Kitts-Nevis");
				tabOptions[cpt].textContent = "St Kitts-Nevis";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Lucia");
				tabOptions[cpt].textContent = "St Lucia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Maarten");
				tabOptions[cpt].textContent = "St Maarten";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Pierre &amp; Miquelon");
				tabOptions[cpt].textContent = "St Pierre &amp; Miquelon";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "St Vincent &amp; Grenadines");
				tabOptions[cpt].textContent = "St Vincent &amp; Grenadines";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Saipan");
				tabOptions[cpt].textContent = "Saipan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Samoa");
				tabOptions[cpt].textContent = "Samoa";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Samoa American");
				tabOptions[cpt].textContent = "Samoa American";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "San Marino");
				tabOptions[cpt].textContent = "San Marino";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Sao Tome &amp; Principe");
				tabOptions[cpt].textContent = "Sao Tome &amp; Principe";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Saudi Arabia");
				tabOptions[cpt].textContent = "Saudi Arabia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Senegal");
				tabOptions[cpt].textContent = "Senegal";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Serbia");
				tabOptions[cpt].textContent = "Serbia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Seychelles");
				tabOptions[cpt].textContent = "Seychelles";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Sierra Leone");
				tabOptions[cpt].textContent = "Sierra Leone";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Singapore");
				tabOptions[cpt].textContent = "Singapore";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Slovakia");
				tabOptions[cpt].textContent = "Slovakia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Slovenia");
				tabOptions[cpt].textContent = "Slovenia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Solomon Islands");
				tabOptions[cpt].textContent = "Solomon Islands";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Somalia");
				tabOptions[cpt].textContent = "Somalia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "South Africa");
				tabOptions[cpt].textContent = "South Africa";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Spain");
				tabOptions[cpt].textContent = "Spain";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Sri Lanka");
				tabOptions[cpt].textContent = "Sri Lanka";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Sudan");
				tabOptions[cpt].textContent = "Sudan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Suriname");
				tabOptions[cpt].textContent = "Suriname";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Swaziland");
				tabOptions[cpt].textContent = "Swaziland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Sweden");
				tabOptions[cpt].textContent = "Sweden";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Switzerland");
				tabOptions[cpt].textContent = "Switzerland";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Syria");
				tabOptions[cpt].textContent = "Syria";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tahiti");
				tabOptions[cpt].textContent = "Tahiti";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Taiwan");
				tabOptions[cpt].textContent = "Taiwan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tajikistan");
				tabOptions[cpt].textContent = "Tajikistan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tanzania");
				tabOptions[cpt].textContent = "Tanzania";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Thailand");
				tabOptions[cpt].textContent = "Thailand";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Togo");
				tabOptions[cpt].textContent = "Togo";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tokelau");
				tabOptions[cpt].textContent = "Tokelau";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tonga");
				tabOptions[cpt].textContent = "Tonga";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Trinidad &amp; Tobago");
				tabOptions[cpt].textContent = "Trinidad &amp; Tobago";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tunisia");
				tabOptions[cpt].textContent = "Tunisia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Turkey");
				tabOptions[cpt].textContent = "Turkey";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Turkmenistan");
				tabOptions[cpt].textContent = "Turkmenistan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Turks &amp; Caicos Is");
				tabOptions[cpt].textContent = "Turks &amp; Caicos Is";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Tuvalu");
				tabOptions[cpt].textContent = "Tuvalu";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Uganda");
				tabOptions[cpt].textContent = "Uganda";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Ukraine");
				tabOptions[cpt].textContent = "Ukraine";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "United Arab Erimates");
				tabOptions[cpt].textContent = "United Arab Emirates";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "United Kingdom");
				tabOptions[cpt].textContent = "United Kingdom";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "United States of America");
				tabOptions[cpt].textContent = "United States of America";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Uraguay");
				tabOptions[cpt].textContent = "Uruguay";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Uzbekistan");
				tabOptions[cpt].textContent = "Uzbekistan";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Vanuatu");
				tabOptions[cpt].textContent = "Vanuatu";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Vatican City State");
				tabOptions[cpt].textContent = "Vatican City State";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Venezuela");
				tabOptions[cpt].textContent = "Venezuela";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Vietnam");
				tabOptions[cpt].textContent = "Vietnam";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Virgin Islands (Brit)");
				tabOptions[cpt].textContent = "Virgin Islands (Brit)";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Virgin Islands (USA)");
				tabOptions[cpt].textContent = "Virgin Islands (USA)";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Wake Island");
				tabOptions[cpt].textContent = "Wake Island";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Wallis &amp; Futana Is");
				tabOptions[cpt].textContent = "Wallis &amp; Futana Is";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Yemen");
				tabOptions[cpt].textContent = "Yemen";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Zaire");
				tabOptions[cpt].textContent = "Zaire";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Zambia");
				tabOptions[cpt].textContent = "Zambia";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;
				tabOptions.push(document.createElement("option"));
				tabOptions[cpt].setAttribute("name", "Zimbabwe");
				tabOptions[cpt].textContent = "Zimbabwe";
				 nouveauChampsPays.appendChild(tabOptions[cpt]);
				 cpt++;

                // création du champs de date de naissance
                var nouveauLabelDate = document.createElement("LABEL");
                nouveauLabelDate.setAttribute("for", "dateNaissance" + indexDernierePersonne);
                nouveauLabelDate.textContent = "Date de naissance : ";

                var nouveauChampsDate = document.createElement("INPUT");
                nouveauChampsDate.setAttribute("type", "text");
                nouveauChampsDate.setAttribute("id", "dateNaissance" + indexDernierePersonne);
                nouveauChampsDate.setAttribute("name", "dateNaissance" + indexDernierePersonne);
                nouveauChampsDate.required = true;
                var nouveauBrDate = document.createElement("br");

                // création du champs de reduction
                var nouveauLabelReduction = document.createElement("LABEL");
                nouveauLabelReduction.setAttribute("for", "reduction" + indexDernierePersonne);
                nouveauLabelReduction.textContent = " je possède une réduction ";

                var nouveauChampsReduction = document.createElement("INPUT");
                nouveauChampsReduction.setAttribute("type", "checkbox");
                nouveauChampsReduction.setAttribute("id", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("name", "reduction" + indexDernierePersonne);
                nouveauChampsReduction.setAttribute("value", "reduction");
                var nouveauBrReduction = document.createElement("br");

                // création du bouton supprimer
                var nouveauBoutonSupprimer = document.createElement("input");
                nouveauBoutonSupprimer.setAttribute("type", "button");
                nouveauBoutonSupprimer.setAttribute("value", "Supprimer");
                nouveauBoutonSupprimer.setAttribute("onclick", "supprimerPersonneNouvelle(" + indexDernierePersonne + ")");

                // insertion des éléments dans la page
                divNouvellesPersonnesElt.insertBefore(pNouvellePersonne, pAjouterPersonne);
                pNouvellePersonne.appendChild(nouveauLabelPrenom);
                pNouvellePersonne.appendChild(nouveauChampsPrenom);
                pNouvellePersonne.appendChild(nouveauBrPrenom);
                pNouvellePersonne.appendChild(nouveauLabelNom);
                pNouvellePersonne.appendChild(nouveauChampsNom);
                pNouvellePersonne.appendChild(nouveauBrNom);
                pNouvellePersonne.appendChild(nouveauLabelPays);
                pNouvellePersonne.appendChild(nouveauChampsPays);
                pNouvellePersonne.appendChild(nouveauBrPays);
                pNouvellePersonne.appendChild(nouveauLabelDate);
                pNouvellePersonne.appendChild(nouveauChampsDate);
                pNouvellePersonne.appendChild(nouveauBrDate);
                pNouvellePersonne.appendChild(nouveauChampsReduction);
                pNouvellePersonne.appendChild(nouveauLabelReduction);
                pNouvellePersonne.appendChild(nouveauBrReduction);
                pNouvellePersonne.appendChild(nouveauBoutonSupprimer);
            }
        </script>
{% endblock %}